<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - マイ ASP.NET アプリケーション</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    @section ScriptCss {
        <!--Import materialize.css-->
        <link type="text/css" rel="stylesheet" href="css/materialize.min.css" media="screen,projection" />
        <link type="text/css" rel="stylesheet" href="css/Sample.css" />
    }
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

</head>
<body class="sample-backgroud">
    <nav class="green lighten-1 navbar-fixed-top" role="navigation" >
        <div class="nav-wrapper container ">
            <a id="logo-container" href="#" class="brand-logo">Viaggio in Italia  <img src="~/img/italy_icon.png"></a>
            <ul class="right hide-on-med-and-down">
                <li><a href="#"><img src="~/img/menu_icon.png"></a></li>
            </ul>
            <ul id="nav-mobile" class="side-nav" style="transform: translateX(-100%);">
                <li><a href="#"></a></li>
            </ul>
            <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
        </div>
    </nav>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p class="blue-grey-text">&copy; @DateTime.Now.Year - Sample Application For Seminor</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @section ScriptJs {
        <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
        <script type="text/javascript" src="js/materialize.min.js"></script>
    }
</body>
</html>
